html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet")(href="style.css")
        title Contact us
    body
        div.menu
            ul.navbar
                li 
                    a("href"="/") Home
                li
                    a("href"="ourservices") Our services
                li 
                    a("href"="contactus") Contact us

        h2 Contact us
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eum magni repellat odit amet totam voluptates deserunt commodi fugit, sint accusamus quia autem qui nisi neque veritatis, laudantium accusantium iste?