html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet")(href="style.css")
        title Home
    body
        div.menu
            ul.navbar
                li 
                    a("href"="/") Home
                li
                    a("href"="ourservices") Our services
                li 
                    a("href"="contactus") Contact us

        h2 Home
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ipsa atque necessitatibus optio neque voluptatem natus culpa praesentium exercitationem labore ad, maiores commodi, officia, fugit recusandae quae dolore aliquam? Placeat?