html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet")(href="style.css")
        title Our services
    body
        div.menu
            ul.navbar
                li 
                    a("href"="/") Home
                li
                    a("href"="ourservices") Our services
                li 
                    a("href"="contactus") Contact us

        h2 Our services
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat officiis praesentium, aliquid soluta modi totam iusto doloribus similique at corrupti, tenetur quo eos commodi molestias ut sit debitis accusantium rem?